/* Main Container */
.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black; /* Ensures a consistent background */
}

/* Video */
.video {
  width: 100%;
  height: auto;
  max-height: 100vh;
  object-fit: cover; /* Ensures the video covers the screen without distortion */
}

/* Controls */
.controlsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: transparent;
  margin-top: -50vw;
  padding: 0 40px;
  z-index: 20;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 18rem;
  margin: auto;
}

.controlsIcon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0 2rem;
}

.controlsIcon--small {
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin: 0 2rem;
}

/* The time controls section */
.timecontrols {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 4rem;
  width: 100%;
}

.time_progressbarContainer {
  background-color: gray;
  border-radius: 15px;
  width: 75%;
  height: 5px;
  z-index: 30;
  position: relative;
  margin: 0 20px;
}

.time_progressBar {
  border-radius: 15px;
  background-color: indigo;
  height: 100%;
}

.controlsTime {
  color: white;
  font-size: 1rem; /* Ensures readability */
}
